.wrapper {
  margin: 0 auto;
}
.container {
  max-height: 720px;
  margin: 0 auto;
}
.padding-container {
  padding: 64px;
}
@media (max-width: 1600px) {
  .padding-container {
    padding: 48px;
  }
}
@media (max-width: 1280px) {
  .padding-container {
    padding: 32px;
  }
}
@media (max-width: 768px) {
  .padding-container {
    padding: 24px;
  }
}